@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
<div class="text-center">
        <br /><br /><br />
        <h1 class="display-4 mb-4">Sistema para el Registro de Mascotas</h1>   
</div>
</div>
